.container {
  height: 100vh;
  width: 320px;
  min-width: 320px;
}

.whiteBG {
  background: #fff;
}

.topContainer {
  margin-top: 2.25rem;
  margin-bottom: 5.5rem;
}

.link,
.linkActive {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #808082;
}

.linkActive {
  border-left: 5px solid #293072;
  color: #293072;
}
