@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.btn-green {
  @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

html {
  font-size: 50%;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
}