.container {
  flex-grow: 2;
}

.rightContainer {
  flex-grow: 2;
}

.titleContainer > h1 {
  font-weight: 500;
  font-size: calc(16px + 0.5rem);
  line-height: calc(20px + 0.5rem);

  color: #293072;
}

.searchContainer {
  width: 334px;
  height: 35px;
  border-radius: 7px;
}

.searchContainer > input {
  background-image: url('/search-icon.svg');
  background-position: 6px 6px;
  background-repeat: no-repeat;
  text-indent: 24px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #808082;
  border-radius: 7px;
  border: 1px solid #808082;
  padding-left: 10px;
}

.searchContainer > input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #808082;
}
