.container img {
  width: 100%;
  height: 100%;
}

.iconContainer {
  max-width: 500px;
  width: 95vw;
  margin: 1rem auto;
}

.formContainer {
  z-index: 2;
  top: 40vh;
  width: 100%;
}

.contentContainer {
  gap: 4%;
}

.contentContainer > * {
  width: 38%;
  background: #eaeaf1;
  border-radius: 8px;
}

.leftContentContainer {
  padding: 3rem;
}

.leftContentTitleIconContainer {
  width: 40px;
}

.leftContentTitle {
  font-weight: 500;
  font-size: calc(15px + 0.5rem);
  line-height: calc(19px + 0.5rem);
  color: #293072;
}

.leftContentDescContainer {
  font-weight: 400;
  font-size: calc(10px + 0.5rem);
  line-height: calc(14px + 0.5rem);
  color: #293072;
}

.rightContentContainer {
  padding: 2rem;
}

.rightContentTitleContainer {
  font-weight: 500;
  font-size: calc(15px + 0.5rem);
  line-height: calc(19px + 0.5rem);
  color: #293072;
}

.planContainer {
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
}

.planPriceIconContainer {
  width: 40px;
}

.planDescTitle {
  font-weight: 500;
  font-size: calc(15px + 0.5rem);
  line-height: calc(19px + 0.5rem);
  color: #293072;
}

.planDescDetail {
  font-weight: 400;
  font-size: calc(8px + 0.5rem);
  line-height: calc(12px + 0.5rem);
  color: #293072;
}

.planPrice {
  font-weight: 500;
  font-size: calc(12px + 0.5rem);
  line-height: calc(16px + 0.5rem);
  color: #293072;
}

.activePlanContainer {
  box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.1);
}

.rightContentBtnContainer > button {
  background: #293072;
  border-radius: 8px;
  padding: 0.6rem 1.1rem;
  font-weight: 700;
  font-size: calc(10px + 0.5rem);
  line-height: calc(14px + 0.5rem);
  color: #ffffff;
}

.rightContentBtnContainer > button:hover {
  color: #ffffff;
  box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.1);
}

.topLeftContainer {
  top: 50px;
  left: 50px;
}

.btnBack {
  font-weight: 300;
  font-size: calc(12px + 0.5rem);
  line-height: calc(15px + 0.5rem);
  text-decoration-line: underline;
  color: #000000;
}
